body{
    width: 400px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.nav {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #e7e6e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}
img{
    max-width: 130px;
    height: auto;
}
.nav-list{
    width: 100%;display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
ul li{
    list-style: none;
    padding: 0 15px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    
}
ul li a:hover{
    color: red;
}
.search{
    width: max-content;
    display: flex;
    align-items: center;
    margin: 10px 20px;
    padding: 14px;
    border-radius: 28px;
    background: #f6f6f6;
    transition: box-shadow 0.25s;
}
.search-input{
    font-size: 16px;
    font-family: sans-serif;
    color: #333;
    margin-left: 14px;
    outline: none;
    border: none;
    background:transparent;
    width: 300px;
}
.search:focus-within{
    box-shadow: 0 0 2px rgba(0,0, 0, 0.75);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}


/*["<all_urls>"] */ 