body{
    width: 400px;
    height: 500px;
   
}
.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
.panels  div{
    width: 300px;
    height: 300px;
}
#general{
    background-color: yellow;
}
#uses{
    background-color: peachpuff;
}
#images{
    background-color: greenyellow;
}
/*["<all_urls>"] */ 