body{
    width: 400px;
    height: 500px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.nav {
    width: 100%;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;

}
img{
    max-width: 130px;
    height: auto;
}
.nav-list{
    width: 100%;display: flex;
    justify-content: flex-end;
    margin-right: 40px;
}
ul li{
    list-style: none;
    padding: 0 15px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
    
}
ul li a:hover{
    color: red;
}


/*["<all_urls>"] */ 